body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
#container {
  width: 800px;
  height: 700px;
  display: flex;
}

#img-container {
  width: 55%;
  height: 100%;
}

article {
  width: 45%;
  height: 100%;
}

.login-container {
  width: 100%;
  height: 60%;
  border: 1px solid rgb(213, 213, 213);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo > img {
  width: 55%;
  height: 70%;
}

form {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.id,
.pw {
  background: rgb(250, 250, 250);
  border: 0;
  border: 1px solid rgb(213, 213, 213);
  border-radius: 3px;
  margin-bottom: 5px;
  padding: 10px 3px;
}

label {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 12px;
}

button {
  background: none;
  outline: none;
  border: 0;
  background: rgb(59, 167, 255);
  color: white;
  font-weight: 700;
  border-radius: 8px;
  padding: 8px 0;
}

.or {
  display: flex;
  width: 100%;
  margin-top: 1rem;
}

.or-line {
  width: 40%;
}

.or-text {
  width: 20%;
  color: rgb(136, 136, 136);
}
p {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  font-size: 0.75rem;
}

.facebook {
  display: flex;
  justify-content: center;
  height: 10%;
}
.facebook-login {
  color: rgb(27, 27, 117);
  font-weight: 700;
  font-size: 0.9rem;
  margin: 0;
  margin-left: 0.3rem;
}

.register {
  width: 100%;
  height: 8%;
  border: 1px solid rgb(213, 213, 213);
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register > p {
  margin-bottom: 0;
  font-size: 0.9rem;
}

span {
  color: rgb(32, 143, 255);
  font-weight: 700;
}

.info {
  margin-top: 20px;
  font-size: 0.9rem;
}

.download {
  width: 100%;
  height: 6%;
  display: flex;
  justify-content: center;
}

.download > img {
  margin-right: 0.5rem;
}
